h2 { font-family: Arial, sans-serif }
h3 { font-family: Georgia, Times, serif;color:#00008B; }
p { text-indent: 40px}
	 
#left{
		position: absolute;
  		width: 30%;
		float:left;
		
	
	 }
	 .info {
	     position:relative;
	 }
#right{
    position: absolute;
    float:right;
    left:30%;
    width: 70%;
    border-left :2px solid #A9A9A9;
    padding:15px;
    
}

#education {
    position:relative;
    
}
#skills{
    position:relative;
}
