	h2 { font-family: Arial, sans-serif;
	    font-size: 30px;
	    
	}
		h3 { font-family: Georgia, Times, serif;color:#0000FF;
		font-size: 25px}
		p {text-indent: 25px;
		    font-size: 20px;
		}
		
#foto{
	position:relative;
	margin: 35px;
	

}
#left{
		position: absolute;
  		width: 30%;
		height: 100%;
		

	
	 }
	 .info {
	     position:relative;
	     margin: 35px;
		 font:right;
		 
	 }
#right{
    position: absolute;
    float:right;
    left:30%;
    width: 70%;
    height: 100%;
    border-left :2px solid #A9A9A9;
    padding:15px;
   
    
}

#education {
    position:relative;
    
}
#skills{
    position:relative;
}
