
#mind {
   position: absolute;
   top: 150px;
   width: 500px;
   height: 564px;
   right: 100px;
   border-radius: 0 350px  350px 0;
   border-bottom: 3px outset #BA55D3;
   background: #DDA0DD;
 }
#eye {
   position: absolute;
   width: 40px;
   height: 50px;
   right: 180px;
   top: 250px;
   background: #fff;
   border-radius: 20px/25px;;
}
#pupil {
position: relative;
width: 10px;
height: 10px;
background: #DDA0DD;
margin-left: 20px;
margin-top: 10px;
border-radius: 5px/5px;
}
h2 {
   color: #4B0082;
   font-family: "Raleway", sans-serif;
   font-size: 35px;
}
h3 {
   color: #800080;
   font-family: "Raleway", sans-serif;
   font-size: 30px;
   text-align: left;
}
.octopus__desc-procent {
  display: none;
}
 li {
    list-style-type: none; 
   }
.octopus{
  position: absolute;
  top: 134px;
  right: 600px;
  height: 40px;
  width: 1px;
 }
 
 .octopus__desc {
    position: relative;
    width:800px;
    float: right;
    height: 29px; 
    background: #E6E6FA;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    opacity: 0.5; 
    filter: alpha(Opacity=50);
    padding: 15px;
    border-radius: 50px 0 0 50px;
    border-bottom: 2px dotted #DDA0DD;
    border-left: 2px dotted #DDA0DD;
    border-top: 2px dotted #DDA0DD;
   }

.octopus__label_now {
  position: absolute;
  right:300px;
  top:90px;
  color:#DDA0DD;
 } 
.octopus__label_before {
   position: absolute;
   right:600px;
   top:90px;
  
 }
 .octopus__tentacles{ 
		position: relative;
    top:-16px;
    right: -15px;
    width:150px;
    float: right;
    height: 30px; 
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    background:  #DDA0DD ;
    color: #000;
    padding: 15px;
    border-radius: 50px 0 0 50px;
    border-bottom: 3px outset #BA55D3; 
 }
 .octopus__tentacles_html_css:{
 	 width:200px;
 }
 .octopus__tentacles_html_css:before{
 	 position: absolute;
  content: '';
  display: block;
  width: 400px;
  height: 30px;
  padding: 15px;
  border-radius: 50px 0 0 50px;
  opacity: 0.3; 
  filter: alpha(Opacity=30);
  background-color: #DDA0DD;
  right: 0px;
  top: 0px;
 }
 
 .octopus__tentacles_c:before {   
  position: absolute;
  content: '';
  display: block;
  width: 600px;
  height: 30px;
  padding: 15px;
  border-radius: 50px 0 0 50px;
  opacity: 0.3; 
  filter: alpha(Opacity=30);
  background-color: #DDA0DD;
  right: 0px;
  top: 0px;
  
   }
   
 
 .octopus__tentacles_c {   
   width:400px;
  
 }
 .octopus__tentacles_image_processing{ 
   width: 350px;
  
 }

 .octopus__tentacles_English{   
   width: 500px;
    
 }
 .octopus__tentacles_work_in_team{ 
   width: 700px;
 
 
 }

 .octopus__tentacles_programming_methodology {   
   width:450px;
   
 }
 .octopus__tentacles_new_skill{ 
   width: 100px;
   
 }
