#mind {
   position: absolute;
   top: 150px;
   width: 500px;
   height: 564px;
   right: 100px;
   border-radius: 0 350px  350px 0;
   border-bottom: 3px outset #BA55D3;
   background: #DDA0DD;
 }
#eye {
   position: absolute;
   width: 40px;
   height: 50px;
   right: 180px;
   top: 250px;
   background: #fff;
   border-radius: 20px/25px;;
}
#pupil {
position: relative;
width: 10px;
height: 10px;
background: #DDA0DD;
margin-left: 20px;
margin-top: 10px;
border-radius: 5px/5px;
}
h2 {
   color: #4B0082;
   font-family: "Raleway", sans-serif;
   font-size: 35px;
}
h3 {
   color: #800080;
   font-family: "Raleway", sans-serif;
   font-size: 30px;
   text-align: left;
}
.octopus__desc-procent {
  display: none;
}
 li {
    list-style-type: none;

   }
.octopus{
  position: absolute;
  top: 134px;
  right: 100px;
  height: 40px;
  width: 1px;
 }
 
 
.octopus__label_now {
  position: absolute;
  right:300px;
  top:90px;
  color: d6009d;
  opacity: 0.6; 
   filter: alpha(Opacity=60);
 } 
.octopus__label_before {
   position: absolute;
   right:600px;
   top:90px;
   color: #9370DB; 
  
 }
 .octopus__tentacles{ 
    display: flex;
    float: right;
    z-index: 99;
    
 }
 .octopus__tentacles:before{ 
    position: absolute;
    content: '';
    top:0px;
    right: 0px;
    width:350px;
    opacity: 0.3; 
    filter: alpha(Opacity=30);
    height: 30px; 
    background: #9370DB; 
    padding: 15px;
    border-radius: 50px 0 0 50px;
    border-bottom: 3px outset #BA55D3; 
 }
 .octopus__tentacles:after{ 
    position: absolute;
    content: '';
    top:0px;
    right: 0px;
    width:250px;
    height: 30px; 
    background:  #FF1493;
    opacity: 0.3; 
    filter: alpha(Opacity=30);
    padding: 15px;
    border-radius: 50px 0 0 50px;
    border-bottom: 3px outset #BA55D3; 
 }
  
 .octopus__desc {
    position: relative;
    z-index: 99;
    width:70%;
    float: right;
    height: 29px; 
    background: #E6E6FA;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    padding: 15px;
    border-radius: 50px 0 0 50px;
    border-bottom: 2px dotted #DDA0DD;
    border-left: 2px dotted #DDA0DD;
    border-top: 2px dotted #DDA0DD;
   }
   
 .octopus__tentacles_html_css:before{
  width: 30%;
}
 .octopus__tentacles_c:before{   
   width:50%;
  
 }
 .octopus__tentacles_image_processing:before{ 
   width: 25%;
  
 }

 .octopus__tentacles_English:before{   
   width: 40%;
    
 }
 .octopus__tentacles_work_in_team:before{ 
   width: 60%;
 
 
 }

 .octopus__tentacles_programming_methodology:before {   
   width:35%;
   
 }
 .octopus__tentacles_new_skill:before{ 
   width: 5%;
   
 }
 
 
 .octopus__tentacles_html_css:after{
  width: 10%;
}
 .octopus__tentacles_c:after {   
   width:30%;
  
 }
 .octopus__tentacles_image_processing:after{ 
   width: 10%;
  
 }

 .octopus__tentacles_English:after{   
   width: 25%;
    
 }
 .octopus__tentacles_work_in_team:after{ 
   width: 40%;
 
 }

 .octopus__tentacles_programming_methodology:after {   
   width:20%;
   
 }
 .octopus__tentacles_new_skill:after{ 
   width: 5%;
   
 }
